<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!--===============================================================================================-->
</head>

<body>
    <div id="header">
        <div class="header">
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/blog">blog</a>
                </li>
                <li>
                    <a href="/shows">shows</a>
                </li>
                <li>
                    <a href="/register">Registration</a>
                </li>
                <li class="selected">
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/users/adminpost">Post your Blog</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="bg-image"></div>
    <!-- <div class="container-login100"> -->
    <div class="bg-text">
        <div style="margin:0% 24%;">
            <h1>Hi <%= user.name %> </h1>
            <a href="/users/logout" class="btn btn-secondary" style="float: left;margin:2px">Logout</a>
            <a href="/setting" class="btn btn-secondary" style="float: left;margin:2px">Settings</a>
            <form action="/delete" method="post">
                <input type="text" class="form-control" name="id" value="<%= user._id %>" hidden>
                <button type="submit" class="btn btn-secondary" style="float: left;margin:2px"> Delete Account </button>
            </form>
        </div>
    </div>
    </div>

    <div id="footer">
        <p>
            &copy;Copyright 2019. <a href="/">House Collapus</a> all rights reserved
        </p>
    </div>


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>